<div class="container">
  <div class="card">
    <div class="card-header header-heading">
      <div class="row">
        <div class="col-md-6">
          <h4>$ Select Pricing Options</h4>
        </div>
        <div class="col-md-2 offset-md-4">
          <button class="btn btn-info" (click)="modalPrice(template,'add')"><span class="fa fa-plus"></span>
            Add Record
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table id="example" class="table table-hover dataTable dtr-inline">
        <thead>
          <tr>
            <th>Name</th>
            <th>Saving</th>
            <th>Residuals</th>
            <th>Rate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; index as i">
            <td>{{ item.name }} %</td>
            <td>${{ item.savings }}</td>
            <td>${{ item.residuals }}</td>
            <td>${{ item.rates }}</td>
            <td>
              <span class="fa fa-edit ml-2" (click)="modalPrice(template,'edit',item)"></span>
              <span class="fa fa-trash-o ml-2" (click)="deleteModalPrice(item.id)"></span>
            </td>
          </tr>
          <tr *ngIf="list.length == 0" style="text-align: center;">
            <td colspan="4">
              <h3>No Record Found</h3>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Template -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="add_btn && !edit_btn">Add Details</h4>
    <h4 class="modal-title pull-left" *ngIf="edit_btn && !add_btn">Edit Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #priceForm="ngForm">
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="">Name</label>
          <input id="name" name="name" type="text" class="form-control" required minlength="4" [(ngModel)]="input.name"
            #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="">Savings</label>
          <input type="number" name="savings" class="form-control" required [(ngModel)]="input.savings"
            #savings="ngModel">

          <div *ngIf="savings.invalid && (savings.dirty || savings.touched)" class="alert alert-danger">
            <div *ngIf="savings.errors.required">
              savings is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="">Residuals</label>
          <input type="number" name="residuals" class="form-control" required [(ngModel)]="input.residuals"
            #residuals="ngModel">
          <div *ngIf="residuals.invalid && (residuals.dirty || residuals.touched)" class="alert alert-danger">
            <div *ngIf="residuals.errors.required">
              residuals is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="">Rates</label>
          <input name="rates" type="number" class="form-control" required [(ngModel)]="input.rates" #rates="ngModel">
          <div *ngIf="rates.invalid && (rates.dirty || rates.touched)" class="alert alert-danger">
            <div *ngIf="rates.errors.required">
              rates are required.
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button [disabled]="priceForm.invalid" *ngIf="add_btn" class="btn btn-primary" (click)="addPrice()">Add
            Record</button>
          <button [disabled]="priceForm.invalid" *ngIf="edit_btn" class="btn btn-info ml-3" (click)="editPrice()">Edit
            Record</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>